{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": "eslint:recommended",
  "plugins": [
    "prefer-object-spread"
  ],
  "rules": {
    // Errors
    "valid-jsdoc": ["error", {
      "requireReturn": false
    }],
    "no-unsafe-negation": ["error"],
    "no-template-curly-in-string": ["error"],
    "no-extra-parens": ["error", "all"],

    // Best Practices
    "eqeqeq": ["error"],
    "array-callback-return": ["error"],
    "no-useless-escape": ["error"],
    "complexity": ["error", 10],
    "no-alert": ["error"],
    "no-else-return": ["error"],
    "no-eval": ["error"],
    "no-loop-func": ["error"],
    "no-magic-numbers": ["error", { "ignoreArrayIndexes": true, "ignore": [0, 1, -1] }],
    "no-multi-spaces": ["error"],

    // NodeJs
    "callback-return": ["error"],
    "handle-callback-err": ["error"],

    // Stylic
    "no-unneeded-ternary": ["error"],
    "comma-spacing": ["error"],
    "eol-last": ["error"],
    "consistent-this": ["error", "_this"],
    "comma-dangle": ["error", "never"],
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "key-spacing": ["error", { "mode": "strict" }],
    "max-depth": ["error", 5],
    "max-params": ["error", 5],
    "new-cap": ["error", {"capIsNewExceptions": ["Router"]}],
    "no-multiple-empty-lines": ["error"],
    "func-call-spacing": ["error", "never"],
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": false
      }
    }],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
    "space-before-blocks": ["error", {"functions": "always", "keywords": "always", "classes": "always" }],
    "semi": ["error"],

    // ES6
    "arrow-body-style": ["error"],
    "no-var": ["error"],

    // Variables
    "no-undef-init": ["error"],
    "init-declarations": ["error"],
    "no-use-before-define": ["error"],
    "prefer-object-spread/prefer-object-spread": ["error"],
    "array-bracket-spacing": [ "error"],
    "camelcase": "warn",
    "class-methods-use-this": "error",
    "comma-style": [ "error", "last" ],
    "curly": [ "error","multi"],
    "dot-notation": [ "error", { "allowKeywords": true } ],
    "guard-for-in": "error",

    "jsx-quotes": [ "error", "prefer-double" ],

    "no-bitwise": 0,
    "no-caller": "error",
    "no-cond-assign": [ "error", "except-parens" ],
    "no-debugger": "error",
    "no-empty": "error",
    "no-empty-function": "error",
    "no-lone-blocks": "error",
    "no-extend-native": "error",
    "no-irregular-whitespace": "error",
    "no-iterator": "error",
    "no-multi-str": "error",
    "no-new": "warn",
    "no-proto": "error",
    "no-script-url": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-undef": "error",
    "no-unused-expressions": 0,
    "no-unused-vars": "error",
    "no-with": "error",
    "no-redeclare": "error",


    "no-useless-constructor": "error",
    "no-useless-rename": ["error", {
      "ignoreDestructuring": true,
      "ignoreImport": true,
      "ignoreExport": true
    }],

    "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }],
    "generator-star-spacing": ["error", {"before": true, "after": true}],
    "no-const-assign": "error",
    "no-empty-pattern": "error",
    "prefer-arrow-callback": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "template-curly-spacing": ["error", "never"],
    "yield-star-spacing": "error",

    "object-curly-spacing": [ "error", "always" ],
    "quotes": [ "error", "single", "avoid-escape" ],

    "semi-spacing": "error",
    "valid-typeof": "error",
    "wrap-iife": [ "error", "inside" ]
  }
}